Testing normalized paths

I find myself needing to test normalized paths (the string representation a node's location according to [section 2.7 of RFC 9535](https://datatracker.ietf.org/doc/html/rfc9535#name-normalized-paths)) in multiple projects.

To that end I've started a CTS-style [JSONPath Normalized Path Test Suite](https://github.com/jg-rp/jsonpath-compliance-normalized-paths). Does such a thing already exist? If not, is this useful elsewhere and is it worth moving it (or something similar) to a jsonpath-standard repo?

 [JSONPath Normalized Path Test Suite](https://github.com/jg-rp/jsonpath-compliance-normalized-paths) includes tests for "canonical paths" too. Although not defined by RFC 9535, I wanted a consistent string representation of a compiled JSONPath query, which is not a normalized path and is not necessarily a singular query.

@jg-rp I appreciate the initiative. Personally, I would love normalized paths to be included in `cts.json`. Something like below would have been perfect. A new repository seems too decentralized than it has to be.

```js
{
      "name": "basic, root",
      "selector": "$",
      "document": [
        "first",
        "second"
      ],
      "result": [
        [
          "first",
          "second"
        ]
      ],
     "result-located": [
        { "loc": "$",
          "node": [
             first,
             second
          ]
        }
     }
}
```

@taimoorzaeem what is the purpose of the `node` key in your example?

@jg-rp I would imagine adding optional `path` or `paths` keys to the test. The `path` being an array of the normalized paths of the corresponding values in the `result`. The `paths` being an array of arrays of normalized paths corresponding to the values in `results`.

```json
    {
      "name": "filter, existence",
      "selector": "$[?@.a]",
      "document": [
        {
          "a": "b",
          "d": "e"
        },
        {
          "b": "c",
          "d": "f"
        }
      ],
      "result": [
        {
          "a": "b",
          "d": "e"
        }
      ]
    },
    "path": [
        "$[0]"
      ]
    },

```

Perhaps we can allow tests without `result` and `results` if they contain either `path` or `paths`.

> @taimoorzaeem what is the purpose of the `node` key in your example?

Oh, now that I see, we don't really need that. I like your example better.

I just realized that I've had this very kind of tests in my implementation for quite a while. Some examples:
- https://github.com/f3ath/jessie/blob/138b05f736f9b2e01c93ccb7cc1b870a43018683/test/cases/standard/normalized_path.json
- https://github.com/f3ath/jessie/blob/138b05f736f9b2e01c93ccb7cc1b870a43018683/test/cases/standard/basic.json#L27

Closed by #100